@import url('https://fonts.googleapis.com/css2?family=Tac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tac+One&display=swap');


body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  background-color: whitesmoke;
}

.tac-one-regular {
  font-family: "Tac One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: radial-gradient(circle, rgba(34,193,195,1) 7%, rgba(253,187,45,1) 85%);
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent;
}


.logo {
  width: 40px;
  height: auto; 
  margin-right: 10px; 
}

.navbar-brand ,.nav-link{
    color: black;
}

.nav-item {
  display: inline-block;
  position: relative;
  color: rgba(253,187,45,1) ;
}

.nav-item::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(204deg,  rgba(34,193,195,1) 10%,  rgba(253,187,45,1) 87%);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.hamburger-menu{
  display: none;
 }

@media (max-width: 991px){
 .hideOnMobile{
  display: none;
 }
 .hamburger-menu{
  display: block;
 }

}

@media (max-width: 400px){
  .sidebar{
   width: 100%;
  }
 }

.highlight{
  padding: 20px;
  text-align: justify;
  border: 3px solid black;
  box-shadow: 5px 5px 0px rgba(34,193,195,1); /* Horizontal shadow, Vertical shadow, No blur, Solid shadow color */
  padding: 20px;
  border: 1px solid #ccc; /* Optional: to define the border of the div */
  border-radius: 5px; /* Optional: to add rounded corners */
  background-color: #fff; /* Optional: to set a background color */
}

.letter-spacing{
  text-align: justify;
}

.font-size{
  font-size: 1.5rem;
}

.overlay-bg {
  position: fixed; /* Position the overlay relative to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: -1; /* Ensure the overlay appears behind other content */
}

.text-area{
  width: 100%;
  text-align: justify;
}

.controls{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

audio{
  border-radius: 5px !important;
  background-color: #f2f6f9;
}
.behave{
  z-index: -1;
  position: relative;
}

.underline::after {
  content: "";
  display: block;
  width: 60px;
  padding-top: 3px;
  background: linear-gradient(204deg,  rgba(34,193,195,1) 10%,  rgba(253,187,45,1) 87%);
}

.button{
  background-color: rgba(253,187,45,1) ;
  border-radius: 50px;
}

.button:hover{
  background-color:  rgba(34,193,195,1);
}

.text-area .form-control{
  box-shadow: 5px 5px 0 rgba(34,193,195,1); /* Horizontal shadow, Vertical shadow, Blur radius, Shadow color */
  padding: 20px;
  border: 1px solid #cccccc; /* Optional: to define the border of the textarea */
  border-radius: 5px; /* Optional: to add rounded corners */
  resize: vertical; /* Allows the user to resize the textarea vertically */
}

.form-select {
  box-shadow: 5px 5px 0 rgba(34,193,195,1); /* Horizontal shadow, Vertical shadow, Blur radius, Shadow color */
  padding: 20px;
  border: 1px solid #cccccc; /* Optional: to define the border of the textarea */
  border-radius: 5px; /* Optional: to add rounded corners */
}


.audio {
  box-shadow: 5px 5px 0 rgba(34,193,195,1); /* Horizontal shadow, Vertical shadow, Blur radius, Shadow color */
  padding: 20px;
  border: 1px solid #cccccc; /* Optional: to define the border of the textarea */
  border-radius: 5px; /* Optional: to add rounded corners */
}
